
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff
}


/*estilo header*/
header {
    padding: 0px;
    background-image: linear-gradient(to right top, #2f6578, #446d81, #56768a, #677f91, #778899);
    width: auto;
    justify-content: end;
}

.logoprincipal{
    height: 210px;
    padding-inline-start: 15px;
    padding-top: 25px;
}

.homelogo {
        width: 50%;
}

.homelista{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     font-family: 'Rubik', sans-serif;
     font-size: 20px;
     text-decoration: lightgray;
     padding: 5rem 1rem;
    
}
.lista {
    border-bottom: 1px solid #fafafa;
    transition: .3s ease-in-out;
 
}

.lista:hover {
    border-bottom: #41A4C3;
    transition: all .3s ease-in-out;
    
} 

li{
    list-style: none;
} 
    
/*estilo main index*/


.bannermedio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 94%;
    
}

h1 {  
    font-family: serif; 
    font-size: large;
    justify-content: center;
    position: absolute;
    top: 250px;
    left: 450px;
   
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.buscadordepropiedades{
display: flex;
flex-direction: row;
align-content: center;
margin: 10px;
padding: 10px;
}


.propiedadesdestacadas {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: #41A4C3;  
    
}

.card {
    width: 100%;  
    margin: 20px;
    border-radius: 7px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%)
}

/*GRID*/ 

/*.gridcontenido { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(250px, auto);
}
    
.gridimagen { background-color: #41A4C3;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: small;
    margin: 10px;
    padding: 10px;
    border-radius: 15px ;
    transition: 3s linear;
   
}
.gridimagen:hover { 
    width: 400px;
    height: 400px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}*/

/*estilo footer*/ 

footer {
    display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-image: linear-gradient(to right top, #2f6578, #446d81, #56768a, #677f91, #778899);

}

.parrafofooter  {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
}

/*boton whatsapp*/
.container-boton{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 50px;
    transition: ease 1s;
}
@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}


/*estilo main contacto*/

.contacto{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: #41A4C3;
}

p{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulariocontacto{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

/*estilo main propiedades*/

.propiedades {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: #41A4C3;
    
}

.formulariopropiedades{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*estilo main tasaciones*/

.tasaciones {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: #41A4C3;
}

/*estilo main ubicacion*/

.ubicacion {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: #41A4C3;
}

.ubicacionsec {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mapa {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
}

/*MEDIA QUERIES comentada porque me modifica todo

@media screen and (min-width: 600px) {

header { width: 100%;
    height: 100%;
    
}

.propiedadesdestacadas { width: 100%;
}

.gridcontenido { 
    width: 25%;
    flex-direction: column;
    grid-template-columns: 1;
    grid-template-rows: 1;
}

.gridimagen {     
    
}
footer { 
    width: 100%;
}
.parrafofoooter { width: 100%;
    flex-direction: column;
    text-align: center;
}
}


